.handwave {
    width: 50px;
    height: 50px;
    position: relative;
    animation: handwaveAnimation 2s infinite;
  }
  
  @keyframes handwaveAnimation {
    0%, 100% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(30deg);
    }
  }

  .text-link {
    position: relative;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .text-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #333;
    transition: width 0.3s;
  }
  
  .text-link:hover {
    
  }
  
  .text-link:hover::after {
    width: 100%;
  }

  /* .icon path{
    fill: transparent;
    stroke-width: 5;
    stroke: #31e8ff;
  }

  .icon.under path{
    stroke-dasharray: 5;
    stroke-dashoffset: 5;
  }

  .icon.under:hover path{
    animation: animate-under 5s linear forwards;
  }

  @keyframes animate-under{
    0%{
      stroke-dashoffset: 5;
    }100%{
      stroke-dashoffset: 0;
    }
  }
   */
.icon path {
  fill: transparent;
  stroke-width: 5;
  stroke: #4F46E5;
  animation: animate-under 5s linear forwards; /* Apply animation on load */
}

.icon.under path {
  stroke-dasharray: 5;
  stroke-dashoffset: 5;
}

@keyframes animate-under {
  0% {
    stroke-dashoffset: 5;
  }
  100% {
    stroke-dashoffset: 0;
  }
}