.writing-mode-vertical {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
  
  .parallelogram {
    width: 200px;
    height: 100px;
    background-color: #3498db;
    transform: skewX(-20deg); /* Skew the element to create the parallelogram effect */
  }

  .container .text{
    position: relative;
    color: #3949AB;
    font-size: 30px;
    font-weight: 600;
  }

  .container .text.first-text{
    color: #000;
  }
  
  .text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
    border-left: 2px solid #3949AB ;
    animation: animate 4s steps(12) infinite ;
  }

  @keyframes animate {
    40%, 60%{
      left: 100%;
    }
    100%{
      left: 0%; 
    }
  }