.body{
  background-color: #F5F5F5;
}

.writing-mode-vertical {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
  
  .parallelogram {
    width: 200px;
    height: 100px;
    background-color: #3498db;
    transform: skewX(-20deg); /* Skew the element to create the parallelogram effect */
  }

  .container .text{
    position: relative;
    color: #3949AB;
    font-size: 30px;
    font-weight: 600;
  }

  .container .text.first-text{
    color: #000;
  }
  
  .text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
    border-left: 2px solid #3949AB ;
    animation: animate 4s steps(12) infinite ;
  }

  @keyframes animate {
    40%, 60%{
      left: 100%;
    }
    100%{
      left: 0%; 
    }
  }

  .navbar {
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    /* Add other styling properties */
}

.navbar-scrolled {
    background-color: #333; /* Change this to your desired background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional box shadow */
}

/* styles.css or your styles file */
.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.left-sidebar {
  margin-right: 10px;
}

.right-sidebar {
  margin-left: 10px;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
}
