.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--red);
    transform-origin: 0%;
  }

/* src/App.css */
.hoverable-element {
  transition: background-color 0.3s ease;
}

.hoverable-element:hover {
  mix-blend-mode: difference;
  cursor: none;
}

.custom-cursor {
  width: 40px;
  height: 40px;
  background-color: gray;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 50;
}
